################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BuildTools/.vs
/BuildTools/packages
/BuildTools/Xrm.CI.Framework.BuildTools/bin
/BuildTools/Xrm.CI.Framework.BuildTools/obj
/BuildTools/Xrm.CI.Framework.BuildTools.Tools/bin/Debug
/BuildTools/Xrm.CI.Framework.BuildTools.Tools/obj
/BuildTools/Xrm.CI.Framework.BuildTools.Tools/bin/Release
/BuildTools/Xrm.CI.Framework.BuildTools.Tools/bin/coretools
/BuildTools/Xrm.CI.Framework.BuildTools/Lib/xRMCIFramework/9.0.0/System.Management.Automation.dll
