################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BuildTools/.vs
/BuildTools/packages
/BuildTools/Xrm.CI.Framework.BuildTools/bin
/BuildTools/Xrm.CI.Framework.BuildTools/obj
